body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(158, 34%, 79%);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: blue;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flix;
}

nav ul li {
    display: inline;
    margin: 0  10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 5ch;
    text-align: bold;
}

main {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

section {
    margin: 20px 0;
}

    

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba
}
